<% include partials/top %>

<div class="container">

  <h1 class="text-center">Edit Item</h1>

  <form class="form" action="/items/<%= item._id %>?_method=PATCH" method="POST">
    
    <div class="form-group">
      <label for="title">Item</label>
      <input class="form-control" type="text" name="title" placeholder="Enter Item..." value="<%= item.title %>" required>
    </div>

    <div class="form-group">
      <label for="calories">Calories</label>
      <input class="form-control" type="number" name="calories" placeholder="Enter Calories..." value="<%= item.calories %>" required>
    </div>

    <div class="form-group">
      <label for="fat">Fat</label>
      <input class="form-control" type="number" name="fat" placeholder="Enter Fat..." value="<%= item.fat %>" required>
    </div>

    <div class="form-group">
      <label for="carbs">Carbs</label>
      <input class="form-control" type="number" name="carbs" placeholder="Enter Carbs..." value="<%= item.carbs %>" required>
    </div>

    <div class="form-group">
      <label for="protien">Protien</label>
      <input class="form-control" type="number" name="protien" placeholder="Enter Protien..." value="<%= item.protien %>" required>
    </div>

    <div class="form-group form-check">
      <% if (item.favorite) { %> 

      <input class="form-check-input" type="checkbox" name="favorite" value="false">

      <label class="form-check-label" for="favorite">Remove From Favorites</label>

      <% } else { %>

      <input class="form-check-input" type="checkbox" name="favorite" value="true">

      <label class="form-check-label" for="favorite">Add to Favorites</label>

      <% } %>

    </div>

    <a href="../" class="btn btn-lg btn-outline-primary btn-block mt-2">Cancel</a>

    <button class="btn btn-lg btn-outline-success btn-block">Edit Item</button>

  </form>

  <form class="mt-2" id="delete" action="/items/<%= item._id %>?_method=DELETE" method="POST">

    <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Delete Item</button>

  </form>

</div>

<% include partials/bottom %>
